*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --violet: hsl(273, 75%, 66%);
    --blue: hsl(240, 73%, 65%);
    --soft-red: hsl(14, 88%, 65%);
    --dark-blue: hsl(238, 29%, 16%);
    --very-dark-greyish-blue: hsl(237, 12%, 33%);
    --dark-greyish-blue: hsl(240, 6%, 50%);
    --grey: hsl(240, 5%, 91%);
    

}
html{
    font-family: Kumbh Sans, sans-serif;
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100%;
    background: linear-gradient(var(--violet), var(--blue));
}
.header{
    width: 100%;
    min-height: 100px;
    height: auto;
}
.header-image-container{
    position:relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-top: 30px;
    margin: 0 auto;
}
.header-image,.header-image-shadow{
    position: absolute;
    padding-right: 30px;
}
.header-image{
    top: -1px;
    width: 100%;
    left: calc(50% - 150px)
}
.header-image-shadow{
    top: 110px;
    width: 90%;
    left: calc(50% - 117px)
}
.main{
    margin: 13px auto;
    margin-bottom: 30px;
    width: 90%;
    min-height: 500px;
    padding: 10px;
    padding-top: 115px;
    background-color: white;
    border-radius: 15px;
    color: var(--dark-blue);
    box-shadow: 0 13px 20px -9px var(--dark-blue);
}
.faq-container{
    height: auto;
}
.faq-container_answers{
    list-style: none;
}
.main > .faq-title{
    display:flex;
    color: var(--dark-blue);
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 30px;
}
.faq-title > h1{
    font-size: 2.4rem;
    letter-spacing: 0.15rem;
}
.faq-answers_element{
    margin: 10px 10px 0 10px;
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid var(--grey);
    cursor: pointer;
}
.faq-answers_element > p{
    padding: 7px;
    align-self: center;
}
.element-answer{
    display: none;
    margin-top: 8px;
}

.element-question > span{
    margin-left: 5px;
    min-width: 10px;
    min-height: 7px;
    display: inline-block;
    background-image: url('../images/icon-arrow-down.svg');
    background-size: contain;
    background-repeat:no-repeat;
    vertical-align: baseline;
}